@font-face {
    font-family: Futurabook;
    src: url("fonts/Futura Book font.ttf") format("truetype");
}

@font-face {
    font-family: Futurabold;
    src: url("fonts/Futura Extra Black font.ttf") format("truetype");
}

@font-face {
    font-family: FuturaXBlk;
    src: url("fonts/Futura XBlk BT.ttf");
}

@font-face  {
    font-family: Futuramed;
    src: url("fonts/futura Heavy font.ttf");
}


body {
    background-image: linear-gradient(to bottom right, rgb(103, 222, 226),rgb(39, 146, 233));
}

.main {
    margin: 80px;
    margin-right: 40px;
}

.main h2 {
    font-size: 300%;
    margin-bottom: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.main h3 {
    font-size: 200%;
    font-family: Futurabold;
    margin-top: 50px;
    margin-bottom: 20px;

}

.main h4 {
    font-size: 150%;
    font-family: Futuramed;
}

.main p {
    text-indent: 8%;
    font-size: 150%;
    font-family: Futurabook;
    margin-top: 0px;
}



.sidebar {
    background-color: rgb(218, 228, 230);
    padding: 10px 32px;
    position: sticky;
    top: 25px;
    width: 100px;
    float: right;
    margin-top: 10px;
    border-radius: 10px;
    font-family: FuturaXBlk;
    line-height: 25px;
    text-align: center;

}

.text {
    margin-right: 200px;
    background-color: white;
    padding: 50px;
}

.sidebar ul {
    list-style-type: none;
    display: inline;
    text-indent: -9px;
}


.jumpmargin {
    padding-top: 50px;
    margin-top: -50px;
}

.sidebar a:hover {
    background-color: rgb(107, 128, 208);
    border-radius: 10px;
    padding: 5px;
}

.sidebar a {
    color: rgb(24, 50, 224);
    text-decoration: none;
}


.img_text {
    max-width: 500px;
    margin: 10px auto;
    position: relative;
    
}

.img_text p {
    position: absolute;
    top: 90%;
    left: 0px;
    text-align: center;
    background-color: #70c8fe;
    text-indent: 0;
    width: 98%;
    padding: 5px;
    font-size: calc(1vw + 7px);
}

.achievements ul {
    font-size: 150%;
    font-family: Futurabook;
}




.column {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border: solid rgb(39, 146, 233) 10px;
    flex-wrap: wrap;
    border-radius: 15px;
}

.officer {
    max-width: 300px;
    margin: 40px;
    
}
.officer img{

    max-height: 290px;
}

.officer h3 {
    text-align: center;
}

.column p {
    font-size: 2.2vmin;
    padding: 10px;
}

.border {
    border: solid black 5px;
    height: calc(180px + 43vh);
    min-height: 350px;
}

/*sidebar responsiveness*/
@media screen and (max-width: 768px) {
	
    .sidebar {
        position: sticky;
        width: auto;
        margin-top: 0;
        padding: 0 10px;
        margin-right: 20px;
        margin-top: 20px;
        top: 0;
        z-index: 2;
        line-height: 12px;
		
    }
    
    .sidebar li {
        float: left;
        margin: 0px 10px;
        font-size: calc(5vw - 7px);
        padding: 0;
    }
    .text {
        margin-right: 0;
    }
    .main {
		margin:10px;
        
    }
    .img_text p {
    	width:97.2%;
    }
}