/*general effect for any content being putted on the body*/
body{
  margin: 0px;
  padding: 0px;
}

.crop{
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.header_picture {
  filter: blur(2.3px) brightness(90%);
  width: 100%;
  height: auto;
  position: relative;
}

/* the headers mark up for every page*/

/*a cool-looking vertical line*/
.vertical_line {
  border-left: 4px solid rgba(130, 236, 255, 0.925);
  height: 60px;
  position: absolute;
  top: 40%;
  left: 3.5%;
}

img{
  height: auto;
  width: 100%;
}

/*responsive images*/
.img_within{
  display:block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 10px;
}

/*image size for "WHAT WE DO"*/
.img_size {
  position: relative;
  width: 100%;
  margin: 8px;
}

/*fade aspects*/
.fade {
  position: absolute;
  padding: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width:100%;
  opacity: 0;
  border-radius: 10px;
  transition: -5s ease;
  background-color: rgba(51, 179, 151, 0.5);
}

.fade2{
  position: absolute; 
  bottom: 0; 
  background: rgb(51, 179, 151);
  background: rgba(51, 179, 151, 0.5);
  color: rgb(255,255,255);
  width: 100%;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  transition: -5s ease;
  border-radius: 10px;

}
/*headers for those fade pictures*/
.center3 {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*hover effects for the fade pictures*/
.img_size:hover .fade{
  opacity: 1;
}

.img_size:hover .fade2{
  opacity: 1;
}
  /*end of fade aspect*/
