

  /*header for gallery.html*/
  .header_gallery {
    text-align: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header_picture {
    filter: blur(2.3px) brightness(90%);
  }

  .center {
    position: absolute;
    top: 0.3%;
    left: 3.2%;
    font-size: 100px;
    font-family: monospace;
    color: rgb(255, 255, 255);
  }

  .center2 {
    position: absolute;
    top: 37%;
    left: 5.5%;
    font-size: 70px;
    font-family: monospace;
    color: rgb(255, 255, 255);
  }

  .vertical_line {
    border-left: 4px solid rgba(130, 236, 255, 0.925);
    height: 60px;
    position: absolute;
    top: 40%;
    left: 3.5%;
  }

  img {
    width: 100%;
    height: auto;
  }

  /*image size for "WHAT WE DO"*/
  .img_size {
    width: 500px;
    height: 140x;
    padding: 0px 3px;
    border-radius: 20px;
    position: relative;
    width: 100%;
  }

  /*fade aspects*/
  .fade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
    height: 100%;
    width:100%;
    opacity: 0;
    background-color: rgb(51, 179, 151);
  }

  .text {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .img_size:hover .fade {
    opacity: 0.8;
  }
  /*end of fade aspect*/


  
  body{
    margin: 0px;
    padding: 0px;
  }