@font-face {
    font-family: Futurabook;
    src: url("fonts/Futura Book font.ttf") format("truetype");
}

@font-face {
    font-family: Futurabold;
    src: url("fonts/Futura Extra Black font.ttf") format("truetype");
}

@font-face {
    font-family: FuturaXBlk;
    src: url("fonts/Futura XBlk BT.ttf");
}

@font-face  {
    font-family: Futuramed;
    src: url("fonts/futura Heavy font.ttf");
}
body {
    background-image: linear-gradient(to bottom right, rgb(103, 222, 226),rgb(39, 146, 233));
}
.main {
    margin: 80px;
    background-color: white;
    padding: 50px;
}
.main img {
    max-height: 300px;

}
.main p {
    text-indent: 5%;
    font-size: 100%;
    font-family: Futurabook;
    padding: 5px 15px;
}

.main h2 {
    font-size: 200%;
    font-family: Futurabold;
}

.main h3 {
    font-size: 150%;
}

.column {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;

}
.column h3 {
    text-align: center;
}

.developer {
    max-width: 300px;
}

.border {
    border: solid black 5px;
}

.examples {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.games {
    max-width: 350px;
    margin: 10px;
}
