/*Parallax-Layout for box0*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

/*Rows and Columns Section*/
.column1a, .column2a, .column1b, .column2b, .column1c, .column2c, .column1d, .column2d, .columne{
    float: left;
    padding: 10px 5px;
    word-wrap: break-word;
    font-size:36px;
    text-align: center;
    color: white;
 /*   color: rgb(139, 255, 154);*/
}

.column1a{
    width: 52%;
}

.column2a{
    width: 33%;
}

.column1b{
    width: 36.25%;
}

.column2b{
    width: 48.75%;
}

.column1c{
    width: 52%;
}

.column2c{
    width: 33%;
}

.column1d{
    width: 33%;
}

.column2d{
    width: 52%;
}

.columne{
    width: 42.5%;
}

.column3{
    width: 7%;
    float: left;
    word-wrap: break-word;
    padding: 10px;
}


.header_gallery {
    text-align: center;
    padding: 40px 30px 30px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.line {
    border: 6px solid rgb(37, 158, 206);
    width: 85%;
}

.buttonPosition {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(7, 160, 221);
    position: relative;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
}

.buttonPosition:hover{
    background-color: rgb(48, 201, 212);
}

/* Responsive characteristics (changes the layout from two columns to one columns if the size of the browser window is 600px)*/
@media screen and (max-width: 1000px){
    .column1a, .column2a, .column1b, .column2b, .column1c, .column2c, .column1d, .column2d, .columne{
        width: 100%;
    }

    .header_gallery{
        font-size: 20px;
        padding: 30px;
    }

    .column3{
        width: 0;
        padding: none;
    }
}
  