.slideshow_container {
    width: 100%;
    height: auto;
    position: relative;
}


/*Crops any picture under the crop class*/

.crop {
    width: 100%;
    height: 500px;
    margin-top: -150px;
    overflow: hidden;
}

.crop>img {
    width: 100%;
    height: auto;
}


/*fade when hover over (for the button)*/

#fade3 {
    position: absolute;
    bottom: 0;
    background: rgb(51, 179, 151);
    background: rgba(51, 179, 151, 0.5);
    color: rgb(255, 255, 255);
    width: 100%;
    opacity: 1;
    color: white;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}


/*Section for home description*/

.home_container {
    position: relative;
    background: white;
    padding: 10px;
    color: black;
}

.title {
    text-align: center;
    font-size: 300%;
    text-decoration: overline;
}


/*Rows and Columns Section*/

.row:after {
    content: "";
    display: table;
    clear: both;
    opacity: 1;
}

.column_calendars {
    background: rgb(19, 96, 119);
    padding: 10px;
    margin-right: 10px;
    margin-top: 20px;
    float: right;
    border-radius: 6px;
    position: sticky;
    top: 10px;
    width: 25%;
    word-wrap: break-word;
}

h2,
h4 {
    font-family: Georgia, 'Times New Roman', Times;
}

.column_news_holder {
    width: 70%;
    padding: 10px;
    font-size: 20px;
}

.column_news_holder h1 {
    font-family: Times, serif;
}

.column_home1,
.column_news1 {
    width: 45%;
    opacity: 1;
}

.column_news1 p {
    font-family: sans-serif;
}

.column_news_holder,
.column_home1,
.column_home2,
.column_news1,
.column_news2 {
    float: left;
    word-wrap: break-word;
}

.column_home1,
.column_news1 {
    float: left;
    word-wrap: break-word;
}

.column_home2,
.column_news2 {
    width: 55%;
    padding: 10px;
    font-size: 20px;
    opacity: 1;
}


/*End of Rows and Columns Section*/


/*linking buttons*/

.button_news {
    border: none;
    cursor: pointer;
    background-color: rgba(83, 90, 92, 0.041);
    opacity: 1;
    position: relative;
    padding: 14px 28px;
    color: white;
    float: center;
    font-size: 90%;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

* {
    box-sizing: border-box;
}

.link_color {
    color: white;
    text-decoration: none;
}


/*Effect when hovering over (buttons/links)*/

.button_articles:hover {
    background-color: rgb(43, 152, 161);
}

.button_news:hover {
    background-color: rgb(28, 157, 168);
}

.link_color:hover {
    color: rgb(179, 179, 179);
}


/*responsiveness*/

@media screen and (max-width: 1000px) {
    .crop {
        height: 300px;
        margin-top: 0;
    }
    .column_home2 {
        width: 100%;
    }
    .column_home1 {
        display: none;
    }
    .column_news1 {
        width: 100%;
    }
    .column_news2 {
        width: 100%;
    }
    .column_calendars {
        width: 100%;
        margin: 0;
    }
    .column_news_holder {
        width: 100%;
    }
    .title {
        font-size: 200%;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    .crop {
        height: 200px;
        margin-top: 0;
    }
    #fade3 {
        font-size: 13px;
        padding: 10px;
    }
}