.box0 {
    background-color: rgb(35, 74, 128);
    height: 500px;
    width: 100%;
    /*parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    display: table;
    background-size: cover;
    content: "";
    display: table;
    clear: both;
}

/*Parallax-Layout for box0*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

.column1, .column1_vision{
    float: left;
    width: 56.6666%;
    padding: 10px;
    word-wrap: break-word;
    font-size:36px;
    text-align: center;
    color: white;
 /*   color: rgb(139, 255, 154);*/
}


.column2, .column2_vision{
    float: left;
    width: 43.33333%;    
    padding: 10px;
    word-wrap: break-word;
    font-size:36px;
    text-align: left;
    color: white;
}

.column2_vision{
    padding: 140px 50px;
}

.column1_vision{
    padding: 70px 50px;
}


@media screen and (max-width: 1000px) {
    .column1,.column2, .column2_vision, .column1_vision {
        width: 100%;
        text-align: center;
        font-size: 30px
    }

    .column1_vision, .column2_vision{
        padding: 30px 50px;
    }
}

.box1 {
    /*the background image*/
    background-image: url("STEM Pictures/STEM2.jpg");
    /*Set a height*/
    height: 500px;
    width: 100%;
    /*parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    display: table;
    background-size: cover;
}


.box2 {
    /*the background image*/
    background-image: url("STEM Pictures/STEM3.jpg");
    /*Set a height*/
    height: 500px;
    width: 100%;
    /*parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    display: table;
    background-size: cover;
 }
 
 .box3 {
    /*the background image*/
    background-image: url("STEM Pictures/STEM4.jpg");
    /*Set a height*/
    height: 1000px;
    width: 100%;
    /*parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    display:table;
    background-size: cover;
 }

