.box0 {
    background-color: rgb(35, 74, 128);
    height: 500px;
    width: 100%;
    /*parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    display: table;
    background-size: cover;
    content: "";
    display: table;
    clear: both;
}

/*Parallax-Layout for box0*/
.row{
    display: flex;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}

.column1, .column1_vision{
    float: left;
    flex: 56.6666%;
    padding: 10px;
    word-wrap: break-word;
    font-size:36px;
    text-align: center;
    color: white;
 /*   color: rgb(139, 255, 154);*/
}


.column2, .column2_vision{
    float: left;
    flex: 43.33333%;    
    padding: 15px;
    word-wrap: break-word;
    font-size:36px;
    text-align: left;
    color: white;
}

.column2 p{
    font-size: 70%;
    padding: 34px;
    font-family: Calibri; 
    margin-top: 0;
}

.column2_vision{
    padding: 140px 50px;
}

.column1_vision{
    padding: 70px 50px;
}

.column_officers{
    float: left;
    word-wrap: break-word;
    text-align: center;
    color: black;
    text-decoration: none;
    flex: 26%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    margin: 1%;
    padding: 0;
    background-color: white;
}

/*adding extra space*/
.column_side{
    float: left;
    flex: 8%;
}

@font-face {
    font-family: Futurabook;
    src: url("fonts/Futura Book font.ttf") format("truetype");
}

h1, h2, h3{
    font-size: 60px;
    text-align: center;
    color: white;
    font-family: 'Arial Narrow Bold', sans-serif, monospace;
    margin-bottom: 10px;
}

h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h3{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(117, 117, 117);
}

.column_officers p{
    font-size: 18px;
    font-family: Calibri;
    color: black;
    padding: 10px;
}


@media screen and (max-width: 1000px) {
    .column1,.column2, .column2_vision, .column1_vision {
        flex: 100%;
        text-align: center;
        font-size: 30px;
    }

    .column1_vision, .column2_vision{
        padding: 30px 50px;
    }

    .column_officers{
        flex: 88%;
        margin: 6% 6% 0 6%;
    }
}

.box1 {
    /*the background image*/
    background-image: url("STEM Pictures/STEM3.jpg");
    /*Set a height*/
    height: 500px;
    width: 100%;
    /*parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    display: table;
    background-size: cover;
}


.box2 {
    /*the background image*/
    background-image: url("STEM Pictures/Achievements/Achievement1.jpg");
    /*Set a height*/
    height: 500px;
    width: 100%;
    /*parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    display: table;
    background-size: cover;
 }
 
 .box3 {
    /*the background image*/
    background-image: url("STEM Pictures/STEM4.jpg");
    /*Set a height*/
    height: 500px;
    width: 100%;
    /*parallax scrolling effect*/
    background-attachment: fixed;
    background-position: center;
    display:table;
    background-size: cover;
 }

